
@import './variables.scss';

.app {
    background: $pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &Container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: white;
     width: 80%;
     height: auto;
     max-width: 800px;
     padding: 30px;
     box-shadow: 5px 10px $gray;
    }
    &-svg {
        width: 100px;
        height: 100px;
        -webkit-animation:spin 4s linear infinite;
        -moz-animation:spin 4s linear infinite;
        animation:spin 4s linear infinite;
    }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }